body{
    background-color: #00bffe;
}
*{
    color:#2c3539;
}
header{
    text-align: center;
    font-family: "Oswald", sans-serif;
    /* font-style: italic; */
}
header h1{
    border-bottom: 2px solid black;
    display: inline;
}